<!DOCTYPE html>

{% load staticfiles %}
{% load bootstrap3 %}

<html>
<head>
    <title>My Times Plus data</title>
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% block head %}
    {% endblock %}
</head>
<body>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>
