{% extends 'base.html' %}
{% load leaflet_tags %}

{%  block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      body {
        padding: 0;
        margin: 0;
      }
      html, body, #map {
        height: 100%;
        width: 100%;
      }
    </style>
{%  endblock %}

{% block content %}
    {% leaflet_map "map" callback="mapInit" %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function mapInit(map, options) {
        };
    </script>
{% endblock %}
