{% extends 'base.html' %}
{% load leaflet_tags %}
{% load geojson_tags %}

{%  block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{%  endblock %}

{% block content %}
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>Most used stations</h2>
      </div>
      <div class="col-md-4">
        <div class="list-group">
          {% for station in stations|slice:":7" %}
            <a href="#" class="stations list-group-item {% if forloop.first %} active {% endif %}" id="{{ station.code }}">
              <span class="badge">{{ station.nb_bookings }}</span>
              {{ station.name }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">
        {% leaflet_map "map" callback="mapInit" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function mapInit(map, options) {
          var layer = L.geoJson({{ stations|geojsonfeature:":point"|safe }}, {
            onEachFeature: function (feature, layer) {
              $("#" + feature.id).click(function () {
                $(".stations").removeClass("active");
                $(this).addClass("active");
                map.setView(layer.getLatLng(), 16);
              });
            }
          }).addTo(map);
        };
    </script>
{% endblock %}
